<%# HABIT CARD %>
<li class= "<%= habit.done_today? ? 'bg-green-200 dark:bg-green-700 border-green-500 dark:border-green-300': 'bg-slate-50 dark:bg-slate-900 border-slate-200 dark:border-slate-700' %> cursor-pointer text-slate-600 dark:text-slate-50 border-2 drop-shadow-lg rounded-xl overflow-clip flex flex-col w-80 m-2">

  <%# LINE %>
  <%# < class="h-0.5 w-10/12 self-center my-3 <%= habit.done_today? ? 'bg-green-500 dark:bg-green-300' : 'bg-slate-200 dark:bg-slate-700' %>

  <%# LENGTH OF CURRENT STREAK IN DAYS %>
  <p class="ml-14 mt-4 place-self-start text-sm tracking-wide
    <%= 'text-sky-800 dark:text-sky-600' if !habit.done_yesterday?%>
    <%= 'text-orange-600 dark:text-orange-500' if habit.done_yesterday? && !habit.done_today? %>
    <%= 'text-green-500 dark:text-green-300' if habit.done_today? %>
    <%= 'text-yellow-500 dark:text-yellow-200' if habit.done_today? && habit.progress == 100 %>
  ">
    <%= habit.done_yesterday? ? habit.days_as_sentence(habit.current_streak) : "-#{habit.days_as_sentence(habit.current_gap)}" %>
  </p>
  <div class="mx-4 flex flex-row relative place-items-center grow-0 overflow-visible">
    <% if habit.done_today? %>
    <%# FLAME %>
    <div class="absolute left-0 rounded-full h-9 w-9 flex items-center justify-center border-2 border-green-500 dark:border-green-300 bg-green-300 dark:bg-green-400
      <%= 'border-yellow-500 dark:border-yellow-200' if habit.progress == 100 %>
      <%= 'bg-yellow-300 dark:bg-yellow-400' if habit.progress == 100 %>

    ">
      <svg class="w-6 h-6">
      </svg>
    </div>
    <% elsif habit.done_yesterday? %>
    <%# WARNING %>
    <div class="absolute left-0 rounded-full h-10 w-10 flex items-center justify-center border-2 bg-orange-400 dark:bg-orange-300 border-orange-600 dark:border-orange-300">
      <svg class="w-11 h-11">
      </svg>
    </div>
    <% else %>
    <%# NO FIRE %>
    <div class="absolute left-0 rounded-full h-10 w-10 flex items-center justify-center bg-slate-200 dark:bg-slate-700">
      <svg class="w-11 h-11"> version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
      </svg>
    </div>
    <% end %>

    <%# PROGRESS METER%>
    <div class="mr-1 ml-2.5 flex h-4 w-11/12 place-items-start rounded-l-lg
      <%= habit.done_today? ? 'bg-slate-50 dark:bg-slate-600' : 'bg-slate-200 dark:bg-slate-700' %>
    ">
      <%# PROGRESS BAR %>
      <div class="mr-1 h-full animate-[4s_linear_1s]rounded-l-lg
        <%= habit.progress == 0 ? 'border-0' : 'border-2' %>
        <%= 'bg-green-400 border-green-500 dark:border-green-300' %>
        <%= 'bg-yellow-400 border-yellow-500 dark:border-yellow-200' if habit.progress == 100 %>
        <%= 'bg-orange-500 dark:bg-orange-500 border-orange-600 dark:border-orange-300' if !habit.done_today? %>"
        style="width: <%= habit.progress %>%
      ">
        <%# SHINE %>
        <div class="animate-[4s_linear_1s] h-1/4 rounded-l-lg ml-1 mr-0.5 mt-0.5
          <%= habit.progress == 100 ? 'bg-yellow-300 dark:bg-yellow-200 mr-1' : 'bg-green-300' %>
          <%= 'bg-orange-400 dark:bg-orange-300' if !habit.done_today? %>"
          "></div>
      </div>
    </div>

    <%# TROPHY %>
    <div class="absolute right-0 rounded-full h-10 w-10 flex items-center justify-center">
      <svg class="w-6 h-6" <?xml version="1.1" viewBox="0 0 512 512" xml:space="preserve">
        <polygon points="371.41 282.91 371.41 504.38 254.39 465.16 140.59 504.38 140.59 282.91" fill="#5374FC"/>
        <polygon points="195.72 303.24 195.72 485.35 254.32 465.16 310.58 484.02 310.58 303.24" fill="#5697FC"/>
        <path d="m140.59 332.05c30.214 28.241 70.788 45.537 115.41 45.537 44.62 0 85.196-17.296 115.41-45.537v-65.194h-230.82v65.194z" enable-background="new" fill="#373BAE" opacity=".34"/>
        <circle cx="256" cy="176.68" r="169.06" fill="#FACC15"/>
        <path d="m368.5 49.146c12.625 23.679 19.791 50.711 19.791 79.419 0 93.366-75.688 169.06-169.05 169.06-42.468 0-81.276-15.663-110.97-41.523 28.436 53.331 84.606 89.636 149.26 89.636 93.366 0 169.06-75.689 169.06-169.06-1e-3 -50.898-22.497-96.539-58.086-127.53z" enable-background="new" fill="#663C1D" opacity=".09"/>
        <circle cx="256" cy="176.68" r="130.47" fill="#EAB300"/>
        <polygon points="256 86.075 276.51 149.19 342.87 149.19 289.18 188.2 309.69 251.31 256 212.31 202.31 251.31 222.82 188.2 169.13 149.19 235.49 149.19" fill="#FFDA44"/>
        <path d="m196.03 292.16 175.45-175.46c-11.973-23.513-30.863-42.914-53.991-55.518l-176.98 176.98c12.605 23.128 32.005 42.018 55.518 53.992z" enable-background="new" fill="#fff" opacity=".18"/>
        <path d="m256 314.77c76.145 0 138.09-61.949 138.09-138.09s-61.948-138.1-138.09-138.1-138.09 61.949-138.09 138.09 61.948 138.1 138.09 138.1zm0-260.94c67.737 0 122.84 55.108 122.84 122.84s-55.108 122.84-122.84 122.84c-67.738 0-122.85-55.108-122.85-122.84s55.109-122.84 122.85-122.84z"/>
        <path d="m432.68 176.68c0-97.42-79.258-176.68-176.68-176.68-97.421 0-176.68 79.258-176.68 176.68 0 49.632 20.58 94.542 53.645 126.67v201.03c0 2.464 1.191 4.777 3.198 6.207 1.309 0.933 2.86 1.417 4.427 1.417 0.834 0 1.673-0.137 2.482-0.416l111.35-38.369 114.56 38.391c2.326 0.779 4.885 0.391 6.876-1.04 1.99-1.432 3.171-3.736 3.171-6.189v-201.03c33.065-32.126 53.646-77.035 53.646-126.67zm-338.11 0c0-89.012 72.418-161.43 161.43-161.43s161.43 72.417 161.43 161.43-72.416 161.43-161.43 161.43-161.43-72.416-161.43-161.43zm53.645 139.89c12.178 9.404 25.608 17.258 40 23.259-0.031 0.275-0.048 0.553-0.048 0.837v139.25l-39.952 13.767v-177.12zm103.69 141.39-48.489 16.709v-129.3c16.617 5.191 34.28 7.99 52.585 7.99 16.281 0 32.05-2.224 47.032-6.367v126.43l-46.22-15.488c-1.595-0.535-3.32-0.528-4.908 0.02zm111.88 35.826-45.505-15.249v-136.52c16.479-6.228 31.788-14.85 45.505-25.444v177.21z"/>
        <path d="m172 157.01 44.663 32.449-17.059 52.504c-1.021 3.141 0.098 6.582 2.77 8.524 2.673 1.941 6.291 1.941 8.962 0l44.663-32.449 44.663 32.449c1.336 0.971 2.908 1.456 4.481 1.456s3.145-0.486 4.481-1.456c2.673-1.942 3.791-5.383 2.77-8.525l-17.06-52.504 44.663-32.449c2.673-1.942 3.791-5.383 2.77-8.525-1.021-3.141-3.948-5.268-7.251-5.268h-55.206l-17.061-52.503c-1.021-3.141-3.948-5.269-7.251-5.269s-6.231 2.127-7.251 5.268l-17.06 52.504h-55.206c-3.303 0-6.231 2.127-7.251 5.268-1.019 3.143 0.099 6.585 2.77 8.526zm65.228 1.456c3.303 0 6.231-2.127 7.251-5.268l11.521-35.455 11.52 35.455c1.021 3.141 3.948 5.269 7.251 5.269h37.28l-30.16 21.913c-2.673 1.942-3.791 5.383-2.77 8.524l11.521 35.455-30.161-21.913c-2.673-1.941-6.291-1.941-8.962 0l-30.161 21.913 11.52-35.456c1.021-3.141-0.098-6.582-2.77-8.524l-30.16-21.913h37.28z"/>
      </svg>
    </div>
  </div>

  <%# LENGTH OF LONGEST STREAK IN DAYS %>
  <p class="mr-8 text-sm self-end text-yellow-500 dark:text-yellow-200
    <%= 'hidden' if habit.progress == 100 && habit.done_today %>
  ">
    <%= habit.days_as_sentence(habit.longest_streak) %>
  </p>
  <%# NEW RECORD %>
  <p class="mr-8 text-sm self-end text-yellow-500 dark:text-yellow-200
    <%= 'hidden' unless habit.progress == 100 && habit.done_today %>
  ">
    New record
  </p>
  <%# NO RECORD %>
  <p class="mr-8 text-sm self-end text-yellow-500 dark:text-yellow-200
    <%= 'hidden' unless habit.progress == 0 %>
  ">
    No record yet
  </p>

  <%# NAME %>
  <h3 class="p-4 h-20 grow text-center text-md font-medium tracking-wide">
    <%= habit.name %>
  </h3>

  <%# VIEW HABIT LINK %>
  <div class="hidden">
    <%= link_to "View Habit", habit_path(habit), class: "text-zinc-500 border border-zinc-500 hover:bg-zinc-500 hover:text-white active:bg-zinc-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150", type: "button" %>
  </div>
</li>
