<%# CONTAINER %>
<div class= "
  <% if habit.done_today && habit.progress == 100 %>
    <%= 'bg-yellow-400 border-yellow-300' %>
  <% elsif habit.done_today %>
    <%= 'bg-green-400 border-green-300' %>
  <% elsif !habit.done_today %>
    <%= 'bg-gray-50' %>
  <% end %>
   backdrop-opacity-0 border-2 drop-shadow-md rounded-xl mx-5 my-0 overflow-hidden grid grid-cols-1">

  <%# STREAK OR GAP %>
  <div class="grid grid-cols-3 justify-between h-8">
    <% if habit.done_today %>
      <p class="mt-2 col-span-1 self-end text-2xl text-slate-800 ml-5">🔥 <%= habit.current_streak %></p>
    <% else %>
      <p class="mt-2 col-span-1 self-end text-2xl text-slate-800 ml-5">🚫 <%= habit.current_gap %></p>
    <% end %>

    <%# NAME %>
    <h3 class="col-span-1 text-center text-lg text-slate-800 font-medium tracking-wide pt-2 px-1 truncate"><%= habit.name %></h3>

    <%# RECORD %>
    <p class="col-span-1 justify-self-end self-end text-slate-800 mr-5">🏆 <%= habit.longest_streak %></p>
  </div>

  <%# PROGRESS BAR %>
  <div class="row-start-2 h-3 bg-gray-200 rounded-full mx-4 my-2">
    <%# PROGRESS METER %>
    <div class="h-full rounded-full w-[<%= habit.progress %>%]
      <% if habit.progress == 100 %>
        <%= 'bg-orange-500' %>
      <% else %>
        <%= 'bg-green-500' %>
      <% end %>
    ">
    </div>
  </div>
</div>
