<%# HABIT CARD %>
<li class= "<%= habit.done_today? ? 'bg-green-200 dark:bg-green-900': 'bg-slate-50 dark:bg-slate-900' %> cursor-pointer text-slate-600 dark:text-slate-50 drop-shadow-lg rounded-xl overflow-clip flex flex-col w-80 md:w-96 m-2">

  <%# LINE %>
  <%# < class="h-0.5 w-10/12 self-center my-3 <%= habit.done_today? ? 'bg-green-500 dark:bg-green-300' : 'bg-slate-200 dark:bg-slate-700' %>

  <%# LENGTH OF CURRENT STREAK IN DAYS %>
  <p class="ml-14 mt-4 mb-0.5 place-self-start text-sm md:text-md tracking-wide text-green-500 dark:text-green-500
    <%= 'text-red-600 dark:text-red-600' if !habit.done_yesterday?%>
    <%= 'text-yellow-500 dark:text-yellow-200' if habit.progress == 100 %>
  ">
    <%= habit.done_yesterday? ? habit.days_as_sentence(habit.current_streak) : "-#{habit.days_as_sentence(habit.current_gap)}" %>
  </p>
  <div class="mx-4 flex flex-row relative place-items-center grow-0 overflow-visible">
    <% if habit.done_today? %>
    <%# TICK %>
    <svg class="w-7 h-7 absolute left-0 bottom-0 mr-0.5" viewBox="0 0 36 36">
      <path d="M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4v28z" fill="<%= habit.progress == 100 ? '#eab308' : '#22c55e' %>"/>
      <path d="M29.28 6.362a2.502 2.502 0 0 0-3.458.736L14.936 23.877l-5.029-4.65a2.5 2.5 0 1 0-3.394 3.671l7.209 6.666c.48.445 1.09.665 1.696.665c.673 0 1.534-.282 2.099-1.139c.332-.506 12.5-19.27 12.5-19.27a2.5 2.5 0 0 0-.737-3.458z" fill="#FFF"/>
    </svg>
    <% elsif habit.done_yesterday? %>
    <%# WARNING %>
    <svg class="w-8 h-8 absolute left-0 bottom-0 mr-0.5" viewBox="0 0 64 64">
      <path d="M5.9 62c-3.3 0-4.8-2.4-3.3-5.3L29.3 4.2c1.5-2.9 3.9-2.9 5.4 0l26.7 52.5c1.5 2.9 0 5.3-3.3 5.3H5.9z" fill="#f97316"></path>
      <g fill="#fff">
      <path d="M27.8 23.6l2.8 18.5c.3 1.8 2.6 1.8 2.9 0l2.7-18.5c.5-7.2-8.9-7.2-8.4 0"></path>
      <circle cx="32" cy="49.6" r="4.2"></circle>
      </g>
    </svg>
    <% else %>
    <%# CROSS %>
    <svg class="w-7 h-7 absolute left-0 bottom-0 mr-0.5" viewBox="0 0 36 36">
      <path d="M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4v28z" fill="#dc2626"/>
      <path d="M21.529 18.006l8.238-8.238a2.498 2.498 0 0 0 0-3.535a2.498 2.498 0 0 0-3.535 0l-8.238 8.238l-8.238-8.238a2.498 2.498 0 0 0-3.535 0a2.498 2.498 0 0 0 0 3.535l8.238 8.238l-8.258 8.258a2.498 2.498 0 0 0 1.768 4.267c.64 0 1.28-.244 1.768-.732l8.258-8.259l8.238 8.238c.488.488 1.128.732 1.768.732s1.279-.244 1.768-.732a2.498 2.498 0 0 0 0-3.535l-8.24-8.237z" fill="#FFF"/>
    </svg>
    <% end %>

    <%# PROGRESS METER%>
    <div class="mr-8 ml-9 flex h-4 w-11/12 place-items-start rounded-l-lg
      <%= habit.done_today? ? 'bg-slate-50 dark:bg-slate-500' : 'bg-slate-200 dark:bg-slate-700' %>
    ">
      <%# PROGRESS BAR %>
      <div class="h-full animate-[4s_linear_1s] rounded-l-lg border-0 bg-green-500
        <%= 'bg-yellow-500' if habit.progress == 100 %>"
        style="width: <%= habit.progress %>%"
      >
        <%# SHINE %>
        <div class="animate-[4s_linear_1s] h-1/4 rounded-l-lg ml-1 mt-0.5 mr-0.5
          <%= habit.progress == 100 ? 'bg-yellow-300 dark:bg-yellow-300 mr-1' : 'bg-green-300' %>
        "></div>
      </div>
    </div>

    <%# MEDAL %>
    <div class="absolute right-0 rounded-full h-10 w-10 flex items-center justify-center">
      <svg class="w-6 h-6" viewBox="0 0 512 512">
        <path d="m387.22 240.04v255.56c0 13.688-15.784 21.334-26.525 12.837l-94.556-74.712c-5.973-4.694-14.33-4.693-20.303 0l-94.556 74.712c-10.741 8.498-26.525 0.851-26.525-12.837v-255.56h262.46z" fill="#48AEE2"/>
        <path d="m256 240.04v190.16c3.579 3e-3 7.16 1.182 10.135 3.52l94.556 74.712c10.741 8.498 26.525 0.851 26.525-12.837v-255.56h-131.22z" fill="#80D0E1"/>
        <path d="m255.98 0c-123.32 0-197.6 136.88-131.23 240.05 30.687 47.787 80.963 71.658 131.23 71.653 50.288-5e-3 100.57-23.902 131.23-71.653 66.532-103.43-8.176-240.05-131.23-240.05z" fill="#FFBE0D"/>
        <path d="m255.98 0v95.015c33.631 0 60.876 27.245 60.876 60.876s-27.262 60.876-60.876 60.876v94.936c50.288-5e-3 100.57-23.902 131.23-71.653 66.532-103.43-8.176-240.05-131.23-240.05z" fill="#FFC72D"/>
        <path d="m255.98 95.015c-33.631 0-60.876 27.245-60.876 60.876s27.262 60.876 60.876 60.876 60.876-27.245 60.876-60.876-27.245-60.876-60.876-60.876z" fill="#FFE49C"/>
        <path d="m255.98 95.015v121.75c33.615 0 60.876-27.245 60.876-60.876s-27.245-60.876-60.876-60.876z" fill="#FFBE0D"/>
      </svg>
    </div>
  </div>

  <p class="mr-8 mt-1 text-sm md:text-md self-end text-yellow-500 dark:text-yellow-200">
    <%# NO RECORD %>
    <%= 'No record yet' if habit.longest_streak == 0 %>
    <%# LENGTH OF LONGEST STREAK IN DAYS %>
    <%= "#{habit.days_as_sentence(habit.longest_streak)}" if habit.progress < 100 || (habit.progress == 100 && !habit.done_today) %>
    <%# NEW RECORD %>
    <%= 'New record' if habit.progress == 100 && habit.done_today %>
  </p>

  <%# NAME %>
  <div class="flex m-4 h-12">
    <h3 class="grow self-center justify-self-center text-center text-md md:text-lg font-medium tracking-wide">
      <%= habit.name %>
    </h3>
  </div>

  <%# VIEW HABIT LINK %>
  <div class="hidden">
    <%= link_to "View Habit", habit_path(habit), class: "text-zinc-500 border border-zinc-500 hover:bg-zinc-500 hover:text-white active:bg-zinc-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150", type: "button" %>
  </div>
</li>
